.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(14, 21, 56, 1);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
    width: 100%;
}

.bg-opacity-70 {
    background-color: rgba(14, 21, 56, 0.7);
}

.bg-opacity-100 {
    background-color: rgba(14, 21, 56, 1);
}

.logo {
    filter: drop-shadow(
        0 0 10px rgba(48, 145, 184, 0.5)
    );
}