* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-box {
    width: 100px;
    height: 50vh;
    background-color: rgb(57, 57, 59);
    margin: 10px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}

.img-box h4{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover {
    width: 300px;
    cursor: pointer;
}

.img-box:hover h4 {
    opacity: 1;
    bottom: 25px;
    text-shadow: -1px 1px 0 #000000, 1px 1px 0 #000000, 1px -1px 0 #000000, -1px -1px 0 #000000;
}

.ContainerItineraries {
    background-color: rgba(14, 21, 56, .6);
}
