.bg-cover {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.my-Cities-Button {
    background-color: #0e1538;
    color: white;
    border: 1px solid cyan;
    padding: 10px;
    margin-bottom: 20px;
}