* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: wrap; /* Ajuste al tamaño del contenido */
    height: 20vh; /* Ajuste al tamaño del contenido */
    background: rgba#fdfdff;
    padding: 20px; /* Puedes ajustar el padding según sea necesario */
}

.CTAButton {
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 40px;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
}

.CTAButton:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);
}

.CTAButton::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 600%;
    background: var(--clr);
    transition: 1s;
    animation: animate 4s linear infinite;
    animation-delay: calc(0.33s * var(--i));
    
}

.CTAButton:hover::before {
    width: 120%;
    
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.CTAButton::after {
    content: "";
    position: absolute;
    background: #0e1538;
    inset: 4px;
    transition: 0.10s;
}

.CTAButton:hover::after {
    background: var(--clr);
}

.CTAButton span {
    position: relative;
    z-index: 1;
    font-size: 2em;
    color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
    
}

.CTAButton:hover span {
    opacity: 1;
    color: #ffffff;
}
