/* Estilos generales del sidebar */
.sidebar-container {
  position: fixed;
  top: 25%;
  right: 0; 
  height: auto;
  width: 150px;
  background: #0e1538;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Sombra ajustada hacia la izquierda */
  transform: translateX(100%); /* Oculto inicialmente (fuera de la pantalla a la derecha) */
  transition: transform 0.3s ease; /* Transición suave */
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(2, 101, 248);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.sidebar-container.open {
  transform: translateX(0); /* Se muestra al deslizar hacia la derecha */
}

/* Botón de toggle que siempre está visible */
.sidebar-toggle {
  position: fixed;
  top: 20px;
  right: 20px; /* Ahora el botón está alineado a la derecha */
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1100; /* Asegura que el botón esté encima del contenido */
}


/* Estilos del menú */
.sidebar-menu {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

.sidebar-menu li {
  margin: 20px 0;
}

.sidebar-menu li a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidebar-menu li a:hover {
  background-color: rgba(0, 0, 255, 0.3); /* Un azul más oscuro al pasar el cursor */
  border-radius: 10px;
}
