* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(14, 21, 56);
    backdrop-filter: blur(10px);
    width: 100%;
}

.footer {
    background: #0e1538;
}

.text-banner {
    text-shadow: -1px 1px 0 #000000, 1px 1px 0 #000000, 1px -1px 0 #000000, -1px -1px 0 #000000;
}

.fullScreenImage {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    animation: zoomMoveBackground 30s ease-in-out infinite;
}

main {
    min-height: calc(100vh - 140px);
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .fullScreenImage {
        animation: none; 
    }
}

/* Animación solo en el fondo */
@keyframes zoomMoveBackground {
    0% {
        background-size: 110%;
        background-position: center; 
    }
    20% {
        background-size: 120%; 
        background-position: top left; 
    }
    40% {
        background-size: 120%; 
        background-position: top right; 
    }
    60% {
        background-size: 120%;
        background-position: bottom right; 
    }
    80% {
        background-size: 120%; 
        background-position: bottom left;
    }
    100% {
        background-size: 110%; 
        background-position: center;
    }

}
